@import "sponsor--full";

.sponsors {
  h3 {
    display: none;
  }
  .item-list ul {
    text-align: center;
    li {
      list-style: none;
      list-style-image: none;
      display: inline-block;
      margin: 3px;
      vertical-align: middle;
      a {
        text-decoration: none;
      }
      &.Gold,
      &.gold {
        max-width: 400px;
        @include media($bp1, true) {
          margin: 5px 30px;
        }
      }
      &.Silver,
      &.silver {
        max-width: 220px;
      }
    }
  }
  footer {
    margin: 45px 0 20px 0;
    text-align: center;
    float: left;
    width: 100%;
  }
}
