.sponsor__logo {
  margin-top: 20px;
}

.sponsor__body {
  text-align: left;
}

.sponsor__package {
  @include px_rem(font-size, 15px);
  font-family: 'DuplaLight-Light';
  text-transform: uppercase;
  line-height: 16px;
}