.primary-navigation__toggle:before {
  color: $darkblue;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  float: right;
  cursor: pointer;
  @extend %icons;
  @extend .icon-menu:before;
  @include media($bp1, true) {
    display: none;
  }
}

.primary-navigation {
  padding: 20px 0 0 0;
  min-height: 65px;
  // Logo.
  .block-system-branding-block {
    float: left;
    width: 200px;
    margin-bottom: 15px;
  }
  // Primary navigation.
  .menu--main {
    float: right;
    width: 100%;
    @include media($bp1, true) {
      width: auto;
    }
  }
  ul.menu {
    float: left;
    width: 100%;
    display: none;
    @include media($bp1, true) {
      width: auto;
      display: block;
    }
    li {
      list-style: none;
      list-style-image: none;
      @include media($bp1, true) {
        display: inline;
        margin: 0 0 0 10px;
      }
    }
    a {
      border-top: 1px solid white;
      padding: 10px;
      display: block;
      text-align: center;
      text-decoration: none;
      font-family: 'Dupla-Bold';
      @include px_rem(font-size, 18px);
      margin: 0 -10px;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      @include media($bp1, true) {
        border: none;
        margin: 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px;
        background: none;
        display: inline-block;
      }
      &:hover,
      &:focus,
      &.is-active {
        color: $darkblue;
        text-decoration: none;
      }
    }
  }
}

// Exception for frontpage because we have no logo in header.
.path-frontpage {
  .primary-navigation {
    ul.menu {
      margin-top: 35px;
      @include media($bp1, true) {
        margin-top: 0px;
      }
    }
  }
}
