@font-face {font-family: 'Dupla-Bold';
  src: url('../fonts/dupla/dupla_bold-webfont.eot');
  src: url('../fonts/dupla/dupla_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dupla/dupla_bold-webfont.woff2') format('woff2'),
  url('../fonts/dupla/dupla_bold-webfont.woff') format('woff'),
  url('../fonts/dupla/dupla_bold-webfont.ttf') format('truetype');}

@font-face {font-family: 'DuplaDemibold-DemiBold';
  src: url('../fonts/dupla/dupla_demibold-webfont.eot');
  src: url('../fonts/dupla/dupla_demibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dupla/dupla_demibold-webfont.woff2') format('woff2'),
  url('../fonts/dupla/dupla_demibold-webfont.woff') format('woff'),
  url('../fonts/dupla/dupla_demibold-webfont.ttf') format('truetype');}

@font-face {font-family: 'DuplaLight-Light';
  src: url('../fonts/dupla/dupla_light-webfont.eot');
  src: url('../fonts/dupla/dupla_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dupla/dupla_light-webfont.woff2') format('woff2'),
  url('../fonts/dupla/dupla_light-webfont.woff') format('woff'),
  url('../fonts/dupla/dupla_light-webfont.ttf') format('truetype');}

@font-face {font-family: 'Dupla';
  src: url('../fonts/dupla/dupla_medium-webfont.eot');
  src: url('../fonts/dupla/dupla_medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dupla/dupla_medium-webfont.woff2') format('woff2'),
  url('../fonts/dupla/dupla_medium-webfont.woff') format('woff'),
  url('../fonts/dupla/dupla_medium-webfont.ttf') format('truetype');}

$base-font-family: 'Dupla', Helvetica, Arial, sans-serif;
$normalized_font_family: sans-serif;
