@font-face {
  font-family: 'icomoon';
  src:    url('../fonts/icomoon.eot?xs4z0k');
  src:    url('../fonts/icomoon.eot?xs4z0k#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?xs4z0k') format('truetype'),
  url('../fonts/icomoon.woff?xs4z0k') format('woff'),
  url('../fonts/icomoon.svg?xs4z0k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  @extend %icons;
}

.icon-menu:before {
  content: "\e900";
}
.icon-people:before {
  content: "\e901";
}
.icon-ticket:before {
  content: "\e902";
}
.icon-maps:before {
  content: "\e903";
}
.icon-agenda:before {
  content: "\e904";
}