/*
 * Variables
 * Add your site-variables, such as colours and font sizes in this file.
 */

$legacy_support_for_ie: false;
$normalize_headings: true;



/* Colors */
$white: #fff;
$beige: #e9e4cf;
$lightblue: #eef3f2;
$blue: #89cbbb;
$darkerblue: #79b6a7;
$darkblue: #293a3c;
$orange: #e94d27;

$input: #3f5456;

$javascript: #cfe2dd;
$drupal: #6ad1e4;
$theming: #ffe269;
$ux--design: #e94d27;

$hover: #37445a;

$background: #fff;
$color: #333;
$white: #fff;
$base-text-color: $color;
$base-selected-text-color: invert($base-text-color);
$base-selected-text-background-color: $base-text-color;
$base-link-color: #e93130;
$base-link-hover-color: #19bdbe;

/* Font sizes */
$fs_1: 32px;
$fs_2: 24px;
$fs_3: 20px;
$fs_4: 16px;
$fs_5: 14px;
$fs_6: 12px;

$base-font-size: 17px;
$base-line-height: 24px;

/* Grid (powered by Bourbon Neat) */
$gutter: 20px;
$grid-columns: 12;
$max-width: 960px;
$column: ($max-width - ($gutter * $grid-columns)) / $grid-columns;

/* Breakpoints */
$bp1: 461px;
$bp2: 768px;
$bp3: 1025px;
$bp4: 1400px;