{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% set checkboxid = attribute(attributes, 'data-history-node-id') %}
<a class="schedule-link" href="/offline/schedule#speaker{{ checkboxid }}" for="checkbox-{{ checkboxid }}"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1279" height="1024" viewBox="0 0 1279 1024" fill="#333">
<path d="M1056.735 106.523h-135.189v-62.286c0-17.164-13.979-31.143-31.143-31.143s-31.143 13.979-31.143 31.143v62.286h-187.034v-62.286c0-17.164-13.979-31.143-31.143-31.143s-31.143 13.979-31.143 31.143v62.286h-187.211v-62.286c0-17.164-13.979-31.143-31.143-31.143s-31.143 13.979-31.143 31.143v62.286h-135.012c-45.83 0-83.166 37.159-83.166 83.166v737.698c0 46.007 37.159 83.166 83.166 83.166h831.303c45.83 0 83.166-37.159 83.166-83.166v-737.698c-0.177-46.007-37.336-83.166-83.166-83.166zM1077.438 927.386c0 11.502-9.378 20.703-20.703 20.703h-831.303c-11.502 0-20.703-9.378-20.703-20.703v-737.698c0-11.502 9.378-20.703 20.703-20.703h135.012v62.286c0 17.164 13.979 31.143 31.143 31.143s31.143-13.979 31.143-31.143v-62.286h187.034v62.286c0 17.164 13.979 31.143 31.143 31.143s31.143-13.979 31.143-31.143v-62.286h187.034v62.286c0 17.164 13.979 31.143 31.143 31.143s31.143-13.979 31.143-31.143v-62.286h135.189c11.502 0 20.703 9.378 20.703 20.703v737.698zM341.156 480.592h600.917v-93.606h-600.917v93.606zM341.156 636.483h600.917v-93.606h-600.917v93.606zM341.156 792.375h600.917v-93.429h-600.917v93.429z"></path></svg></a>
<div {{ attributes.addClass('ds-1col', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  {{ ds_content }}

</div>
