{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.page_top: Items for the header region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.page_bottom: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see seven_preprocess_page()
 * @see html.html.twig
 */
#}
<header>
    <div class="primary-navigation">
        <div class="container">
            {{ page.navigation }}
            <div class="primary-navigation__toggle"></div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            {{ page.header }}
        </div>
    </div>
    {% if is_front %}
    <div class="buldings">
        <div class="buldings__container">
            <div class="building building--stadshal"><img src="/themes/frontendunited/img/stadshal.png" alt="Stadshal Ghent"></div>
            <div class="building building--blaarmeersen"><img src="/themes/frontendunited/img/blaarmeersen.png" alt="Blaarmeersen Ghent"></div>
            <div class="building building--dullegriet"><img src="/themes/frontendunited/img/dullegriet.png" alt="Dulle Griet Ghent"></div>
            <div class="building building--belfort"><img src="/themes/frontendunited/img/belfort.png" alt="Belfort Ghent"></div>
        </div>
    </div>
    {% endif %}
</header>

{% if page.precontent %}
    <div class="precontent">
        <div class="container">
            {{ page.precontent }}
        </div>
    </div>
{% endif %}

<div class="content">
    <div class="container">
        {{ breadcrumb }}
        <main id="main-content" class="page-content clearfix" role="main">
            {{ messages }}
            {% if page.help %}
                <div class="help">
                    {{ page.help }}
                </div>
            {% endif %}
            {% if action_links %}
                <ul class="action-links">
                    {{ action_links }}
                </ul>
            {% endif %}
            {% if title %}
                <h1 class="page-title">{{ title }}</h1>
            {% endif %}
            {{ page.content }}
        </main>
    </div>
</div>

{% if page.highlight %}
    <div class="highlight">
        <div class="container">
            {{ page.highlight }}
        </div>
    </div>
{% endif %}

{% if page.subcontent %}
    <div class="subcontent">
        <div class="container">
            {{ page.subcontent }}
        </div>
    </div>
{% endif %}

{% if page.footer %}
    <footer class="footer__wrapper">
        <div class="container">
            <div class="footer">
                {{ page.footer }}
            </div>
            <div class="copyright">
                {{ page.copyright }}
            </div>
        </div>
    </footer>
{% endif %}