/**
 * Print css file
 * This file is compiled into print.css.
 */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* ---------- Import base ---------- */
/*
 * Variables
 * Add your site-variables, such as colours and font sizes in this file.
 */
/* Colors */
/* Font sizes */
/* Grid (powered by Bourbon Neat) */
/* Breakpoints */
@font-face {
  font-family: 'Dupla-Bold';
  src: url("../fonts/dupla/dupla_bold-webfont.eot");
  src: url("../fonts/dupla/dupla_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dupla/dupla_bold-webfont.woff2") format("woff2"), url("../fonts/dupla/dupla_bold-webfont.woff") format("woff"), url("../fonts/dupla/dupla_bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'DuplaDemibold-DemiBold';
  src: url("../fonts/dupla/dupla_demibold-webfont.eot");
  src: url("../fonts/dupla/dupla_demibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dupla/dupla_demibold-webfont.woff2") format("woff2"), url("../fonts/dupla/dupla_demibold-webfont.woff") format("woff"), url("../fonts/dupla/dupla_demibold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'DuplaLight-Light';
  src: url("../fonts/dupla/dupla_light-webfont.eot");
  src: url("../fonts/dupla/dupla_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dupla/dupla_light-webfont.woff2") format("woff2"), url("../fonts/dupla/dupla_light-webfont.woff") format("woff"), url("../fonts/dupla/dupla_light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/dupla_medium-webfont.eot");
  src: url("../fonts/dupla/dupla_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dupla/dupla_medium-webfont.woff2") format("woff2"), url("../fonts/dupla/dupla_medium-webfont.woff") format("woff"), url("../fonts/dupla/dupla_medium-webfont.ttf") format("truetype");
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Mixins.
 * Snippets of reusable CSS to develop faster and keep your code readable.
 * Add all mixins in this file.
 */
/*
 * Mixins - grid.
 * Add all grid-related mixins in this file.
 */
/* Omega reset */
/* Column layouts */
/*
 * Mixins - buttons
 * Add all button-related mixins in this file.
 */
/* Component mixins */
/*
 * CSS image replacement.
 * Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757.
 */
/*
 * Overwrite the default media mixin with an IE9 fallback.
 */
/*
 * Calculate the px fallback for an rem value.
 * E.g.: @include rem_px(line-height, 1.5rem);
 * Returns both the rem and the px values.
 */
/*
 * Calculate the rem value and px fallback for a px value.
 * E.g.: @include px_rem(line-height, 16px);
 * Returns both the rem and the px values.
 */
/* ---------- Import design ---------- */
/*
 * Typography
 * Add your font-related theming in this file.
 * The actual font declarations go in base > fonts.
 */
/*
 * IMPORTANT!
 * Add all sass files that are needed for your wysiwyg editor here.
 */
/*
 * Typography - Tables
 * Add your table-related theming in this file.
 */
/*
 * Uses the correct text size when body font-size is set in em units.
 * Source: http://clagnut.com/blog/348/#c790
 * Prevents iOS test size to adjust after orientation change.
 * Source: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom
 */
html {
  font-size: 106.25%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Base link settings */
a {
  color: #e93130;
}

a:hover, a:focus {
  color: #19bdbe;
}

/* General settings */
html {
  color: #333;
  font-family: "Dupla", Helvetica, Arial, sans-serif;
}

html ::selection,
html ::-moz-selection {
  background: #333;
  color: #cccccc;
}

body {
  line-height: 24px;
  line-height: 1.4117647059rem;
  font-size: 17px;
}

/* Text */
/* Headers */
h1 {
  color: #293a3c;
  font-weight: normal;
  font-family: 'Dupla-Bold';
  padding: 10px 0;
  margin: 0px;
  line-height: 32px;
  font-size: 31px;
  font-size: 1.8235294118rem;
}

h2 {
  color: #293a3c;
  font-weight: normal;
  font-family: 'Dupla-Bold';
  padding: 10px 0;
  margin: 0px;
  font-size: 31px;
  font-size: 1.8235294118rem;
}

h3 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  font-size: 20px;
  font-size: 1.1764705882rem;
}

h4 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  font-size: 16px;
  font-size: 0.9411764706rem;
}

h5 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  font-size: 14px;
  font-size: 0.8235294118rem;
}

h6 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  font-size: 12px;
  font-size: 0.7058823529rem;
}

/*
 * Layout
 * Add your layout-related theming, such as sidebars in this file.
 */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0 10px;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.lt-ie9 .container {
  width: 960px;
}

header,
footer,
.main,
.clearfix {
  zoom: 1;
}

header:after,
footer:after,
.main:after,
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.lt-ie9 .column {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
}

.lt-ie9 .column:last-child {
  margin-right: 0;
}

@media screen and (min-width: 461px) {
  .column {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .column:last-child {
    margin-right: 0;
  }
}

.sidebar {
  display: none;
}

.container {
  width: 960px;
}
