@charset "UTF-8";
/*
 * Style css file
 * This file is compiled into style.css
 */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* ---------- Import base ---------- */
/*
 * Variables
 * Add your site-variables, such as colours and font sizes in this file.
 */
/* Colors */
/* Font sizes */
/* Grid (powered by Bourbon Neat) */
/* Breakpoints */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xs4z0k");
  src: url("../fonts/icomoon.eot?xs4z0k#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xs4z0k") format("truetype"), url("../fonts/icomoon.woff?xs4z0k") format("woff"), url("../fonts/icomoon.svg?xs4z0k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"], .primary-navigation__toggle:before, .highlight ul.menu li a:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before, .primary-navigation__toggle:before {
  content: "\e900";
}

.icon-people:before, .highlight ul.menu li a.speakers:before {
  content: "\e901";
}

.icon-ticket:before, .highlight ul.menu li a.get-your-ticket:before {
  content: "\e902";
}

.icon-maps:before, .highlight ul.menu li a.venue:before {
  content: "\e903";
}

.icon-agenda:before, .highlight ul.menu li a.schedule:before, .highlight ul.menu li a.programme:before {
  content: "\e904";
}

@font-face {
  font-family: 'Dupla-Bold';
  src: url("../fonts/dupla/dupla_bold-webfont.eot");
  src: url("../fonts/dupla/dupla_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dupla/dupla_bold-webfont.woff2") format("woff2"), url("../fonts/dupla/dupla_bold-webfont.woff") format("woff"), url("../fonts/dupla/dupla_bold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'DuplaDemibold-DemiBold';
  src: url("../fonts/dupla/dupla_demibold-webfont.eot");
  src: url("../fonts/dupla/dupla_demibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dupla/dupla_demibold-webfont.woff2") format("woff2"), url("../fonts/dupla/dupla_demibold-webfont.woff") format("woff"), url("../fonts/dupla/dupla_demibold-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'DuplaLight-Light';
  src: url("../fonts/dupla/dupla_light-webfont.eot");
  src: url("../fonts/dupla/dupla_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dupla/dupla_light-webfont.woff2") format("woff2"), url("../fonts/dupla/dupla_light-webfont.woff") format("woff"), url("../fonts/dupla/dupla_light-webfont.ttf") format("truetype");
}

@font-face {
  font-family: 'Dupla';
  src: url("../fonts/dupla/dupla_medium-webfont.eot");
  src: url("../fonts/dupla/dupla_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dupla/dupla_medium-webfont.woff2") format("woff2"), url("../fonts/dupla/dupla_medium-webfont.woff") format("woff"), url("../fonts/dupla/dupla_medium-webfont.ttf") format("truetype");
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Mixins.
 * Snippets of reusable CSS to develop faster and keep your code readable.
 * Add all mixins in this file.
 */
/*
 * Mixins - grid.
 * Add all grid-related mixins in this file.
 */
/* Omega reset */
/* Column layouts */
/*
 * Mixins - buttons
 * Add all button-related mixins in this file.
 */
/* Component mixins */
/*
 * CSS image replacement.
 * Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757.
 */
/*
 * Overwrite the default media mixin with an IE9 fallback.
 */
/*
 * Calculate the px fallback for an rem value.
 * E.g.: @include rem_px(line-height, 1.5rem);
 * Returns both the rem and the px values.
 */
/*
 * Calculate the rem value and px fallback for a px value.
 * E.g.: @include px_rem(line-height, 16px);
 * Returns both the rem and the px values.
 */
/* ---------- Import design ---------- */
/*
 * Design
 * Add all your theming for general design elements in this file.
 */
.button,
.btn {
  font-size: 21px;
  font-size: 1.2352941176rem;
  border-radius: 2px;
  border: none;
  display: inline-block;
  font-family: 'DuplaDemibold-DemiBold';
  padding: 12px 22px;
  text-decoration: none;
}

.button--primary,
.btn--orange {
  color: #fff;
  background: #e94d27;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.button--primary:hover,
.btn--orange:hover {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

.button--primary:hover, .button--primary:focus,
.btn--orange:hover,
.btn--orange:focus {
  outline: none;
  color: #fff;
}

.link {
  text-decoration: none;
  font-family: 'Dupla-Bold';
}

.link:after {
  content: ' »';
}

.link--orange {
  color: #e94d27;
}

.link--orange:hover, .link--orange:focus {
  outline: none;
  color: #89cbbb;
}

.content {
  background: #eef3f2;
  padding: 40px 0;
}

.content h2 {
  text-align: center;
}

/*
 * Layout
 * Add your layout-related theming, such as sidebars in this file.
 */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0 10px;
}

.container::after {
  clear: both;
  content: "";
  display: table;
}

.lt-ie9 .container {
  width: 960px;
}

header,
footer,
.main,
.clearfix {
  zoom: 1;
}

header:after,
footer:after,
.main:after,
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.lt-ie9 .column {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
}

.lt-ie9 .column:last-child {
  margin-right: 0;
}

@media screen and (min-width: 461px) {
  .column {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .column:last-child {
    margin-right: 0;
  }
}

.primary-navigation__toggle:before {
  color: #293a3c;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  float: right;
  cursor: pointer;
}

.lt-ie9 .primary-navigation__toggle:before {
  display: none;
}

@media screen and (min-width: 461px) {
  .primary-navigation__toggle:before {
    display: none;
  }
}

.primary-navigation {
  padding: 20px 0 0 0;
  min-height: 65px;
}

.primary-navigation .block-system-branding-block {
  float: left;
  width: 200px;
  margin-bottom: 15px;
}

.primary-navigation .menu--main {
  float: right;
  width: 100%;
}

.lt-ie9 .primary-navigation .menu--main {
  width: auto;
}

@media screen and (min-width: 461px) {
  .primary-navigation .menu--main {
    width: auto;
  }
}

.primary-navigation ul.menu {
  float: left;
  width: 100%;
  display: none;
}

.lt-ie9 .primary-navigation ul.menu {
  width: auto;
  display: block;
}

@media screen and (min-width: 461px) {
  .primary-navigation ul.menu {
    width: auto;
    display: block;
  }
}

.primary-navigation ul.menu li {
  list-style: none;
  list-style-image: none;
}

.lt-ie9 .primary-navigation ul.menu li {
  display: inline;
  margin: 0 0 0 10px;
}

@media screen and (min-width: 461px) {
  .primary-navigation ul.menu li {
    display: inline;
    margin: 0 0 0 10px;
  }
}

.primary-navigation ul.menu a {
  border-top: 1px solid white;
  padding: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: 'Dupla-Bold';
  font-size: 18px;
  font-size: 1.0588235294rem;
  margin: 0 -10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.lt-ie9 .primary-navigation ul.menu a {
  border: none;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  background: none;
  display: inline-block;
}

@media screen and (min-width: 461px) {
  .primary-navigation ul.menu a {
    border: none;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    background: none;
    display: inline-block;
  }
}

.primary-navigation ul.menu a:hover, .primary-navigation ul.menu a:focus, .primary-navigation ul.menu a.is-active {
  color: #293a3c;
  text-decoration: none;
}

.path-frontpage .primary-navigation ul.menu {
  margin-top: 35px;
}

.lt-ie9 .path-frontpage .primary-navigation ul.menu {
  margin-top: 0px;
}

@media screen and (min-width: 461px) {
  .path-frontpage .primary-navigation ul.menu {
    margin-top: 0px;
  }
}

/*
 * Typography
 * Add your font-related theming in this file.
 * The actual font declarations go in base > fonts.
 */
/*
 * IMPORTANT!
 * Add all sass files that are needed for your wysiwyg editor here.
 */
/*
 * Typography - Tables
 * Add your table-related theming in this file.
 */
/*
 * Uses the correct text size when body font-size is set in em units.
 * Source: http://clagnut.com/blog/348/#c790
 * Prevents iOS test size to adjust after orientation change.
 * Source: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom
 */
html {
  font-size: 106.25%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Base link settings */
a {
  color: #e93130;
}

a:hover, a:focus {
  color: #19bdbe;
}

/* General settings */
html {
  color: #333;
  font-family: "Dupla", Helvetica, Arial, sans-serif;
}

html ::selection,
html ::-moz-selection {
  background: #333;
  color: #cccccc;
}

body {
  line-height: 24px;
  line-height: 1.4117647059rem;
  font-size: 17px;
}

/* Text */
/* Headers */
h1 {
  color: #293a3c;
  font-weight: normal;
  font-family: 'Dupla-Bold';
  padding: 10px 0;
  margin: 0px;
  line-height: 32px;
  font-size: 31px;
  font-size: 1.8235294118rem;
}

h2 {
  color: #293a3c;
  font-weight: normal;
  font-family: 'Dupla-Bold';
  padding: 10px 0;
  margin: 0px;
  font-size: 31px;
  font-size: 1.8235294118rem;
}

h3 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  font-size: 20px;
  font-size: 1.1764705882rem;
}

h4 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  font-size: 16px;
  font-size: 0.9411764706rem;
}

h5 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  font-size: 14px;
  font-size: 0.8235294118rem;
}

h6 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  font-size: 12px;
  font-size: 0.7058823529rem;
}

/*
 * Typography - Forms
 * Add your form-related theming in this file.
 */
/*
 * Prevents font-family inconsistency between textarea and other form elements.
 */
button,
input,
select,
textarea {
  font-family: "Dupla", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin: 0 0 8px 0;
}

.form-item {
  margin: 0 0 18px 0;
}

.form-email,
textarea,
.form-text {
  background: #3f5456;
  border: none;
  width: 100%;
  padding: 10px;
}

.form-email:focus,
textarea:focus,
.form-text:focus {
  background: #79b6a7;
  outline: none;
}

.footer__wrapper {
  color: #fff;
  background: #293a3c;
  padding: 40px 0;
}

.footer__wrapper h2 {
  color: #fff;
}

.footer ul.menu li {
  list-style-image: none;
  list-style: none;
}

.footer p {
  padding-top: 0px;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer a:after {
  color: #e94d27;
  content: ' »';
}

.footer > nav,
.footer > div {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
}

.footer > nav:last-child,
.footer > div:last-child {
  margin-right: 0;
}

.lt-ie9 .footer > nav, .lt-ie9
.footer > div {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
}

.lt-ie9 .footer > nav:last-child, .lt-ie9
.footer > div:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .footer > nav,
  .footer > div {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .footer > nav:last-child,
  .footer > div:last-child {
    margin-right: 0;
  }
}

.lt-ie9 .footer > nav {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .footer > nav {
    margin-right: 0;
  }
}

.footer h2 {
  font-size: 18px;
  font-size: 1.0588235294rem;
}

.copyright {
  border-top: 1px solid #3f5456;
  float: left;
  margin-top: 40px;
  width: 100%;
}

/*
 * Header
 * Add your header-related theming in this file.
 */
header {
  background: #eef3f2;
  overflow: hidden;
}

.header {
  padding: 105px 0 0 0;
  background: url(../img/lights.svg) center top no-repeat;
  text-align: center;
}

.header .container {
  max-width: 560px;
}

.header .btn {
  margin-top: 8px;
}

.highlight {
  background: #89cbbb;
  color: #fff;
  padding: 40px 0 34px 0;
}

.lt-ie9 .highlight {
  padding: 40px 0 20px 0;
}

@media screen and (min-width: 461px) {
  .highlight {
    padding: 40px 0 20px 0;
  }
}

.lt-ie9 .highlight {
  padding: 40px 0 40px 0;
}

@media screen and (min-width: 768px) {
  .highlight {
    padding: 40px 0 40px 0;
  }
}

.highlight h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.highlight ul.menu {
  text-align: center;
}

.highlight ul.menu li {
  display: inline-block;
  margin: 0 3px 6px 3px;
}

.lt-ie9 .highlight ul.menu li {
  margin: 0 10px 20px 10px;
}

@media screen and (min-width: 461px) {
  .highlight ul.menu li {
    margin: 0 10px 20px 10px;
  }
}

.lt-ie9 .highlight ul.menu li {
  margin: 0 25px 40px 25px;
}

@media screen and (min-width: 768px) {
  .highlight ul.menu li {
    margin: 0 25px 40px 25px;
  }
}

.highlight ul.menu li a {
  font-family: 'Dupla-Bold';
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0 10px 0;
  font-size: 14px;
  font-size: 0.8235294118rem;
  width: 105px;
  border: 2px solid #79b6a7;
}

.lt-ie9 .highlight ul.menu li a {
  font-size: 20px;
  font-size: 1.1764705882rem;
  border: 3px solid #79b6a7;
  width: 150px;
  padding: 15px 0 15px 0;
}

@media screen and (min-width: 461px) {
  .highlight ul.menu li a {
    font-size: 20px;
    font-size: 1.1764705882rem;
    border: 3px solid #79b6a7;
    width: 150px;
    padding: 15px 0 15px 0;
  }
}

.lt-ie9 .highlight ul.menu li a {
  font-size: 24px;
  font-size: 1.4117647059rem;
  width: 184px;
}

@media screen and (min-width: 768px) {
  .highlight ul.menu li a {
    font-size: 24px;
    font-size: 1.4117647059rem;
    width: 184px;
  }
}

.highlight ul.menu li a:hover, .highlight ul.menu li a:focus {
  background: #79b6a7;
  outline: none;
}

.highlight ul.menu li a:before {
  display: block;
  margin: 0 0 5px 0;
  font-size: 30px;
}

.lt-ie9 .highlight ul.menu li a:before {
  margin: 0 0 10px 0;
  font-size: 52px;
}

@media screen and (min-width: 461px) {
  .highlight ul.menu li a:before {
    margin: 0 0 10px 0;
    font-size: 52px;
  }
}

.lt-ie9 .highlight ul.menu li a:before {
  margin: 0 0 20px 0;
  font-size: 62px;
}

@media screen and (min-width: 768px) {
  .highlight ul.menu li a:before {
    margin: 0 0 20px 0;
    font-size: 62px;
  }
}

.precontent {
  color: #fff;
  background: #293a3c;
  padding: 40px 0;
}

.precontent h2 {
  color: #fff;
  text-align: center;
  margin: 0 0 45px 0;
}

.subcontent {
  padding: 40px 0;
}

.subcontent h2 {
  text-align: center;
  margin-bottom: 25px;
}

.local_tasks_block ul li {
  display: inline;
}

/* ---------- Import styles ---------- */
.buldings {
  height: 232px;
  border-bottom: 68px #e9e4cf solid;
  position: relative;
}

.buldings__container {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  bottom: -4px;
}

.building {
  position: absolute;
  bottom: 0px;
}

.svg .building {
  background-size: contain !important;
}

.svg .building img {
  opacity: 0;
}

.building--stadshal {
  left: 0px;
}

.svg .building--stadshal {
  background: url(../img/stadshal.svg) center center no-repeat;
}

.building--blaarmeersen {
  position: relative;
  top: 45px;
  right: 200px;
}

.svg .building--blaarmeersen {
  background: url(../img/blaarmeersen.svg) center center no-repeat;
}

.building--dullegriet {
  right: 320px;
}

.svg .building--dullegriet {
  background: url(../img/dullegriet.svg) center center no-repeat;
}

.building--belfort {
  right: 0px;
}

.svg .building--belfort {
  background: url(../img/belfort.svg) center center no-repeat;
}

.header .menu--main {
  zoom: 1;
  margin: 40px 0 0 0;
}

.header .menu--main:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.header .menu--main ul.menu li {
  display: block;
}

.lt-ie9 .header .menu--main ul.menu li {
  text-align: left;
  float: left;
  width: 50%;
}

@media screen and (min-width: 461px) {
  .header .menu--main ul.menu li {
    text-align: left;
    float: left;
    width: 50%;
  }
}

.header .menu--main a {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  font-family: 'Dupla-Bold';
  font-size: 29px;
  font-size: 1.7058823529rem;
  background: white;
  color: #293a3c;
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.lt-ie9 .header .menu--main a {
  text-align: left;
}

@media screen and (min-width: 461px) {
  .header .menu--main a {
    text-align: left;
  }
}

.header .menu--main a:hover {
  background: #79b6a7;
}

.header .menu--main a.is-active {
  background: #89cbbb;
}

.session--teaser {
  position: relative;
}

.session--teaser .session__link {
  background: white;
  color: #333;
  display: block;
  padding: 20px 10px 65px 10px;
  text-decoration: none;
  width: 100%;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
}

.session--teaser .session__link:hover {
  background: #37445a;
  color: white;
}

.session--teaser .session__link:hover .session__type {
  background: white;
  color: #37445a;
}

.session--teaser .session__title {
  font-family: 'Dupla-Bold';
}

.session--teaser .session__type {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.session--teaser .field--name-field-room {
  font-family: 'DuplaDemibold-DemiBold';
}

.sesion__types {
  zoom: 1;
}

.sesion__types:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.session__type {
  padding: 7px 10px;
}

.session__type.javascript {
  background: #cfe2dd;
}

.session__type.drupal {
  color: white;
  background: #6ad1e4;
}

.session__type.theming {
  background: #ffe269;
}

.session__type.ux--design {
  color: white;
  background: #e94d27;
}

.node--type-session.node--view-mode-full {
  text-align: left;
}

.node--type-session.node--view-mode-full .field__label {
  float: left;
  margin-right: 10px;
  width: 60px;
  font-family: 'Dupla-Bold';
}

.node--type-session.node--view-mode-full .field__items {
  overflow: hidden;
}

.node--type-session.node--view-mode-full .session__type {
  margin: 20px 0;
  text-align: center;
}

.node--type-session.node--view-mode-full ul {
  margin-left: 20px;
}

.timeslot {
  margin: 20px 0;
  text-align: left;
  zoom: 1;
}

.timeslot:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.timeslot__time {
  padding: 5px 10px;
}

.timeslot__start-time {
  font-family: 'Dupla-Bold';
}

.timeslot__textblock {
  background: #89cbbb;
  padding: 5px 10px;
}

.timeslot__sessions {
  zoom: 1;
}

.timeslot__sessions:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.lt-ie9 .timeslot__sessions > .field__items {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
}

@media screen and (min-width: 461px) {
  .timeslot__sessions > .field__items {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
  }
}

.timeslot__sessions > .field__items > .field__item {
  margin-bottom: 10px;
}

.lt-ie9 .timeslot__sessions > .field__items > .field__item {
  display: flex !important;
}

@media screen and (min-width: 461px) {
  .timeslot__sessions > .field__items > .field__item {
    display: flex !important;
  }
}

.timeslot__sessions > .field__items > .field__item .session {
  width: 100%;
}

.lt-ie9 .timeslot__sessions > .field__items > .field__item .session {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
}

@media screen and (min-width: 461px) {
  .timeslot__sessions > .field__items > .field__item .session {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
  }
}

.lt-ie9 .timeslot__sessions > .field__items > .field__item {
  margin-bottom: 0px;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
}

.lt-ie9 .timeslot__sessions > .field__items > .field__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 461px) {
  .timeslot__sessions > .field__items > .field__item {
    margin-bottom: 0px;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
  }
  .timeslot__sessions > .field__items > .field__item:last-child {
    margin-right: 0;
  }
}

.path-schedule .header .container {
  max-width: 960px;
}

.speaker--teaser {
  text-align: center;
  position: relative;
  z-index: 9999;
}

.speaker__photo {
  max-width: 220px;
  margin: 0 auto;
}

.speaker__photo img {
  border-radius: 50%;
}

.speaker--full .speaker__photo {
  margin-top: 20px;
}

.speaker__link {
  text-decoration: none;
  color: #fff;
  max-width: 220px;
  margin: 0 auto;
  display: inline-block;
}

.speaker__link:hover {
  color: #fff;
}

.speakers--page .speaker__link {
  color: #333;
}

.speakers--page .speaker__link:hover {
  color: #333;
}

.speaker__title {
  font-size: 19px;
  font-size: 1.1176470588rem;
  font-family: 'Dupla-Bold';
  line-height: 20px;
  padding-bottom: 4px;
}

.speaker__function {
  display: none;
  font-size: 15px;
  font-size: 0.8823529412rem;
  font-family: 'DuplaLight-Light';
  text-transform: uppercase;
  line-height: 16px;
}

.speaker--full .speaker__function,
.speakers--page .speaker__function {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.speaker__body {
  text-align: left;
}

.speakers {
  margin: 0 auto;
  position: relative;
  zoom: 1;
}

.speakers:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.speakers .views-row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  margin-bottom: 25px;
}

.speakers .views-row:last-child {
  margin-right: 0;
}

.speakers .views-row:nth-child(2n) {
  margin-right: 0;
}

.speakers .views-row:nth-child(2n+1) {
  clear: left;
}

.lt-ie9 .speakers .views-row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
}

.lt-ie9 .speakers .views-row:last-child {
  margin-right: 0;
}

.lt-ie9 .speakers .views-row:nth-child(2n) {
  margin-right: 2.3576515979%;
}

.lt-ie9 .speakers .views-row:nth-child(2n+1) {
  clear: none;
}

.lt-ie9 .speakers .views-row:nth-child(3n) {
  margin-right: 0;
}

.lt-ie9 .speakers .views-row:nth-child(3n+1) {
  clear: left;
}

@media screen and (min-width: 461px) {
  .speakers .views-row {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
  }
  .speakers .views-row:last-child {
    margin-right: 0;
  }
  .speakers .views-row:nth-child(2n) {
    margin-right: 2.3576515979%;
  }
  .speakers .views-row:nth-child(2n+1) {
    clear: none;
  }
  .speakers .views-row:nth-child(3n) {
    margin-right: 0;
  }
  .speakers .views-row:nth-child(3n+1) {
    clear: left;
  }
}

.lt-ie9 .speakers .views-row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%;
  margin-bottom: 0px;
}

.lt-ie9 .speakers .views-row:last-child {
  margin-right: 0;
}

.lt-ie9 .speakers .views-row:nth-child(3n) {
  margin-right: 2.3576515979%;
}

.lt-ie9 .speakers .views-row:nth-child(3n+1) {
  clear: none;
}

.lt-ie9 .speakers .views-row:nth-child(6n) {
  margin-right: 0;
}

.lt-ie9 .speakers .views-row:nth-child(6n+1) {
  clear: left;
}

@media screen and (min-width: 1025px) {
  .speakers .views-row {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 14.7019570017%;
    margin-bottom: 0px;
  }
  .speakers .views-row:last-child {
    margin-right: 0;
  }
  .speakers .views-row:nth-child(3n) {
    margin-right: 2.3576515979%;
  }
  .speakers .views-row:nth-child(3n+1) {
    clear: none;
  }
  .speakers .views-row:nth-child(6n) {
    margin-right: 0;
  }
  .speakers .views-row:nth-child(6n+1) {
    clear: left;
  }
}

.speakers footer {
  margin: 40px 0 20px 0;
  text-align: center;
  float: left;
  width: 100%;
}

.path-frontpage .speaker {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.path-frontpage .speaker.active {
  opacity: 1;
}

.precontent {
  overflow: hidden;
}

.spotlight {
  display: none;
  position: absolute;
  left: -200%;
  right: 281px;
  top: -114px;
  height: 400px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 1025px) {
  .spotlight {
    display: block;
  }
}

.spotlight svg {
  width: 3000px;
  position: absolute;
  right: 427px;
  top: 0;
}

#Laag_2 {
  -webkit-animation-name: flicker;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.speakers--page .views-row {
  margin-bottom: 25px;
}

.lt-ie9 .speakers--page .views-row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
}

.lt-ie9 .speakers--page .views-row:last-child {
  margin-right: 0;
}

.lt-ie9 .speakers--page .views-row:nth-child(2n) {
  margin-right: 0;
}

.lt-ie9 .speakers--page .views-row:nth-child(2n+1) {
  clear: left;
}

@media screen and (min-width: 461px) {
  .speakers--page .views-row {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
  }
  .speakers--page .views-row:last-child {
    margin-right: 0;
  }
  .speakers--page .views-row:nth-child(2n) {
    margin-right: 0;
  }
  .speakers--page .views-row:nth-child(2n+1) {
    clear: left;
  }
}

.lt-ie9 .speakers--page .views-row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
}

.lt-ie9 .speakers--page .views-row:last-child {
  margin-right: 0;
}

.lt-ie9 .speakers--page .views-row:nth-child(2n) {
  margin-right: 2.3576515979%;
}

.lt-ie9 .speakers--page .views-row:nth-child(2n+1) {
  clear: none;
}

.lt-ie9 .speakers--page .views-row:nth-child(4n) {
  margin-right: 0;
}

.lt-ie9 .speakers--page .views-row:nth-child(4n+1) {
  clear: left;
}

@media screen and (min-width: 768px) {
  .speakers--page .views-row {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
  }
  .speakers--page .views-row:last-child {
    margin-right: 0;
  }
  .speakers--page .views-row:nth-child(2n) {
    margin-right: 2.3576515979%;
  }
  .speakers--page .views-row:nth-child(2n+1) {
    clear: none;
  }
  .speakers--page .views-row:nth-child(4n) {
    margin-right: 0;
  }
  .speakers--page .views-row:nth-child(4n+1) {
    clear: left;
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 0.8;
  }
  4% {
    opacity: 0.8;
  }
  6% {
    opacity: 0.75;
  }
  8% {
    opacity: 0.85;
  }
  10% {
    opacity: 0.75;
  }
  11% {
    opacity: 0.8;
  }
  12% {
    opacity: 0.95;
  }
  14% {
    opacity: 0.85;
  }
  16% {
    opacity: 1;
  }
  17% {
    opacity: 0.85;
  }
  19% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.8;
  }
  24% {
    opacity: 0.8;
  }
  26% {
    opacity: 0.99;
  }
  28% {
    opacity: 0.8;
  }
  38% {
    opacity: 0.75;
  }
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.9;
  }
  44% {
    opacity: 0.8;
  }
  46% {
    opacity: 0.8;
  }
  56% {
    opacity: 0.8;
  }
  58% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  68% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.8;
  }
  93% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.9;
  }
  97% {
    opacity: 0.8;
  }
  to {
    opacity: 0.8;
  }
}

.sponsor__logo {
  margin-top: 20px;
}

.sponsor__body {
  text-align: left;
}

.sponsor__package {
  font-size: 15px;
  font-size: 0.8823529412rem;
  font-family: 'DuplaLight-Light';
  text-transform: uppercase;
  line-height: 16px;
}

.sponsors h3 {
  display: none;
}

.sponsors .item-list ul {
  text-align: center;
}

.sponsors .item-list ul li {
  list-style: none;
  list-style-image: none;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
}

.sponsors .item-list ul li a {
  text-decoration: none;
}

.sponsors .item-list ul li.Gold, .sponsors .item-list ul li.gold {
  max-width: 400px;
}

.lt-ie9 .sponsors .item-list ul li.Gold, .lt-ie9 .sponsors .item-list ul li.gold {
  margin: 5px 30px;
}

@media screen and (min-width: 461px) {
  .sponsors .item-list ul li.Gold, .sponsors .item-list ul li.gold {
    margin: 5px 30px;
  }
}

.sponsors .item-list ul li.Silver, .sponsors .item-list ul li.silver {
  max-width: 220px;
}

.sponsors footer {
  margin: 45px 0 20px 0;
  text-align: center;
  float: left;
  width: 100%;
}

.node--type-page {
  text-align: left;
}

iframe {
  max-width: 100%;
}

/*
 * Styles
 * Add your content-specific theming in this file.
 * All general theming should go in the design folder.
 */
/* Responsive images */
img {
  height: auto;
  max-width: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
}

strong {
  font-weight: normal;
  font-family: 'Dupla-Bold';
}

p {
  margin: 0px;
  padding: 15px 0;
}

.align-left {
  margin: 0 30px 30px 0;
}

.align-right {
  margin: 0  0 30px 30px;
}

ul.tabs li {
  display: inline;
}
