.speaker--teaser {
  text-align: center;
  position: relative;
  z-index: 9999;
}

.speaker__photo {
  max-width: 220px;
  margin: 0 auto;
  img {
    border-radius: 50%;
  }
}

.speaker--full .speaker__photo {
  margin-top: 20px;
}

.speaker__link {
  text-decoration: none;
  color: $white;
  max-width: 220px;
  margin: 0 auto;
  display: inline-block;
  &:hover {
    color: $white;
  }
  .speakers--page & {
    color: $color;
    &:hover {
      color: $color;
    }
  }
}

.speaker__title {
  @include px_rem(font-size, 19px);
  font-family: 'Dupla-Bold';
  line-height: 20px;
  padding-bottom: 4px;
}

.speaker__function {
  display: none;
  @include px_rem(font-size, 15px);
  font-family: 'DuplaLight-Light';
  text-transform: uppercase;
  line-height: 16px;
}

.speaker--full,
.speakers--page {
  .speaker__function {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
}

.speaker__body {
  text-align: left;
}
