@import "speaker--teaser";

.speakers {
  margin: 0 auto;
  position: relative;
  @include cf;
  .views-row {
    @include col_6;
    margin-bottom: 25px;
  }
  footer {
    margin: 40px 0 20px 0;
    text-align: center;
    float: left;
    width: 100%;
  }
}
.path-frontpage .speaker {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.active {
    opacity: 1;
  }
}

.precontent {
  overflow: hidden;
}

.spotlight {
  display: none;
  @media (min-width: $bp3) {
    display: block;
  }
  position: absolute;
  left: -200%;
  right: 281px;
  top: -114px;
  height: 400px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  svg {
    width: 3000px;
    position: absolute;
    right: 427px;
    top: 0;
  }
}
#Laag_2 {
  -webkit-animation-name: flicker;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.speakers--page {
  .views-row {
    @include col_4;
    margin-bottom: 25px;
  }
}

@-webkit-keyframes flicker {
  from {
    opacity: 0.8;
  }
  4% {
    opacity: 0.8;
  }
  6% {
    opacity: 0.75;
  }
  8% {
    opacity: 0.85;
  }
  10% {
    opacity: 0.75;
  }
  11% {
    opacity: 0.8;
  }
  12% {
    opacity: 0.95;
  }
  14% {
    opacity: 0.85;
  }
  16% {
    opacity: 1;
  }
  17% {
    opacity: 0.85;
  }
  19% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.8;
  }
  24% {
    opacity: 0.8;
  }
  26% {
    opacity: 0.99;
  }
  28% {
    opacity: 0.8;
  }
  38% {
    opacity: 0.75;
  }
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.9;
  }
  44% {
    opacity: 0.8;
  }
  46% {
    opacity: 0.8;
  }
  56% {
    opacity: 0.8;
  }
  58% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  68% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.8;
  }
  93% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.9;
  }
  97% {
    opacity: 0.8;
  }
  to {
    opacity: 0.8;
  }
}
