.header .menu--main {
  @include cf;
  margin: 40px 0 0 0;
  ul.menu {
    li {
      display: block;
      @include media($bp1, true) {
        text-align: left;
        float: left;
        width: 50%;
      }
    }
  }
  a {
    @include transition(all 150ms linear);
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    font-family: 'Dupla-Bold';
    @include px_rem(font-size, 29px);
    background: white;
    color: $darkblue;
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    @include media($bp1, true) {
      text-align: left;
    }
    &:hover {
      background: $darkerblue;
    }
    &.is-active {
      background: $blue;
    }
  }
}