.session--teaser {
  position: relative;
  .session__link {
    background: white;
    color: $color;
    display: block;
    padding: 20px 10px 65px 10px;
    text-decoration: none;
    width: 100%;
    @include transition(all 150ms linear);
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    &:hover {
      background: $hover;
      color: white;
      .session__type {
        background: white;
        color: $hover;
      }
    }
  }
  .session__title {
    font-family: 'Dupla-Bold';
  }
  .session__type {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .field--name-field-room {
    font-family: 'DuplaDemibold-DemiBold';
  }
}
.sesion__types {
  @include cf;
}
.session__type {
  padding: 7px 10px;
  &.javascript {
    background: $javascript;
  }
  &.drupal {
    color: white;
    background: $drupal;
  }
  &.theming {
    background: $theming;
  }
  &.ux--design {
    color: white;
    background: $ux--design;
  }
}


.node--type-session.node--view-mode-full {
  text-align: left;
  .field__label {
    float: left;
    margin-right: 10px;
    width: 60px;
    font-family: 'Dupla-Bold';
  }
  .field__items {
    overflow: hidden;
  }
  .session__type {
    margin: 20px 0;
    text-align: center;
  }
  ul {
    margin-left: 20px;
  }
}