.timeslot {
  margin: 20px 0;
  text-align: left;
  @include cf;
}

.timeslot__time {
  padding: 5px 10px;
}

.timeslot__start-time {
  font-family: 'Dupla-Bold';
}

.timeslot__textblock {
  background: $blue;
  padding: 5px 10px;
}

.timeslot__sessions {
  @include cf;
  > .field__items {
    @include media($bp1, true) {
      @include flexbox;
    }
    > .field__item {
      margin-bottom: 10px;
      @include media($bp1, true) {
        display: flex !important;
      }
      .session {
        width: 100%;
        @include media($bp1, true) {
          @include flexbox;
        }
      }
      @include media($bp1, true) {
        margin-bottom: 0px;
        @include span-columns(6 of 12);
      }
    }
  }
}