.buldings {
  height: 232px;
  border-bottom: 68px $beige solid;
  position: relative;
}

.buldings__container {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  bottom: -4px;
}

.building {
  position: absolute;
  bottom: 0px;
  .svg & {
    background-size: contain!important;
    img {
      opacity: 0;
    }
  }
}

.building--stadshal {
  left: 0px;
  .svg & {
    background: url(../img/stadshal.svg) center center no-repeat;
  }
}

.building--blaarmeersen {
  position: relative;
  top: 45px;
  right: 200px;
  .svg & {
    background: url(../img/blaarmeersen.svg) center center no-repeat;
  }
}

.building--dullegriet {
  right: 320px;
  .svg & {
    background: url(../img/dullegriet.svg) center center no-repeat;
  }
}

.building--belfort {
  right: 0px;
  .svg & {
    background: url(../img/belfort.svg) center center no-repeat;
  }
}