@import "buldings";
@import "schedule/schedule";
@import "speakers/speakers";
@import "sponsors/sponsors";
@import "page/page";

/*
 * Styles
 * Add your content-specific theming in this file.
 * All general theming should go in the design folder.
 */

/* Responsive images */
img {
  height: auto;
  max-width: 100%;
}

ul {
  margin: 0px;
  padding: 0px;
}

strong {
  font-weight: normal;
  font-family: 'Dupla-Bold'
}

p {
  margin: 0px;
  padding: 15px 0;
}

.align-left {
  margin: 0 30px 30px 0;
}
.align-right {
  margin: 0  0 30px 30px;
}

ul.tabs {
  li {
    display: inline;
  }
}
