/*
 * Typography
 * Add your font-related theming in this file.
 * The actual font declarations go in base > fonts.
 */

/*
 * IMPORTANT!
 * Add all sass files that are needed for your wysiwyg editor here.
 */
@import 'tables';

/*
 * Uses the correct text size when body font-size is set in em units.
 * Source: http://clagnut.com/blog/348/#c790
 * Prevents iOS test size to adjust after orientation change.
 * Source: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom
 */
html {
  font-size: 100% * ($base-font-size / 16px);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Base link settings */
a {
  color: $base-link-color;

  &:hover,
  &:focus {
    color: $base-link-hover-color;
  }
}

/* General settings */
html {
  color: $base-text-color;
  font-family: $base-font-family;

  ::selection,
  ::-moz-selection {
    background: $base-selected-text-background-color;
    color: $base-selected-text-color;
  }
}

body{
  @include px_rem(line-height, $base-line-height);
  font-size: $base-font-size;
}

/* Text */
p {

}

strong {

}

/* Headers */
h1 {
  color: $darkblue;
  font-weight: normal;
  font-family: 'Dupla-Bold';
  padding: 10px 0;
  margin: 0px;
  line-height: 32px;
  @include px_rem(font-size, 31px);
}

h2 {
  color: $darkblue;
  font-weight: normal;
  font-family: 'Dupla-Bold';
  padding: 10px 0;
  margin: 0px;
  @include px_rem(font-size, 31px);
}

h3 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  @include px_rem(font-size, $fs_3);
}

h4 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  @include px_rem(font-size, $fs_4);
}

h5 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  @include px_rem(font-size, $fs_5);
}

h6 {
  font-weight: normal;
  padding: 10px 0;
  margin: 0px;
  @include px_rem(font-size, $fs_6);
}
