@import 'base/variables';
@font-face {font-family: 'Dupla-Bold';src: url('css_assets/dupla_bold-webfont.eot');src: url('css_assets/dupla_bold-webfont.eot?#iefix') format('embedded-opentype'),url('css_assets/dupla_bold-webfont.woff2') format('woff2'),url('css_assets/dupla_bold-webfont.woff') format('woff'),url('css_assets/dupla_bold-webfont.ttf') format('truetype');}
@font-face {font-family: 'Dupla';src: url('css_assets/dupla_medium-webfont.eot');src: url('css_assets/dupla_medium-webfont.eot?#iefix') format('embedded-opentype'),url('css_assets/dupla_medium-webfont.woff2') format('woff2'),url('css_assets/dupla_medium-webfont.woff') format('woff'),url('css_assets/dupla_medium-webfont.ttf') format('truetype');}


$base-font-family: 'Dupla', Helvetica, Arial, sans-serif;
$normalized_font_family: sans-serif;

@import 'base/normalize';


.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.offline-messages {
  position: fixed;
  bottom: 50px;
  background: #333;
  color: #FFF;
  font-size: 14px;
  padding: 4px 10px;
  right: 10px;
  max-width: 40%;
  @media screen and (max-height: 299px) and (max-width: 399px) {
    bottom: 10px;
  }
  @media screen and (min-width: 800px) {
    top: 30px;
    bottom: auto;
    right: 30px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    color: #333;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }
}

html {
  font-family: 'Dupla',Helvetica,Arial,sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  background: #eef3f2;
}

body {
  color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Dupla-Bold';
}
a {
  color: $orange;
}

.site-name {
  display: none;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 68px;
}

.layout-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
  padding: 0 20px 0 50px;
  @media screen and (min-height: 300px), screen and (min-width: 400px){
    padding: 0 20px;
  }
  @media screen and (min-width: 800px) {
    padding: 0 10px 0 210px;
  }
  @media screen and (min-width: 990px) {
    padding-left: 300px;
    float: left;
    width: 870px;
  }
}

main {
  padding-top: 20px;
  padding-bottom: 60px;
}

iframe {
  max-width: 100%;
}

.region-offline-header img {
  max-height: 60px;
}

h1 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.image-style-speaker-tiny {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.block-offline-app-menu-block {
  display: none;
  position:fixed;
  bottom:0;
  width:100%;
  left: 0;
  right: 0;
  background: $orange;
  height: 100%;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  z-index: 10;
  @media screen and (min-height: 300px), screen and (min-width: 400px){
    display: block;
    height: 44px;
  }
  @media screen and (min-width: 800px) {
    width: 200px;
    height: 100%;
    right: auto;
    padding-top: 30px;
    top: 0;
    bottom: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    @media screen and (min-height: 300px), screen and (min-width: 400px){
      position: static;
      height: auto;
      width: auto;
    }
  }
  li {
    list-style: none;
    float: left;
    width: 50%;
    text-align: center;
    height: 50%;
    border: 1px solid #FFF;
    box-sizing: border-box;
    position: relative;
    @media screen and (min-height: 300px), screen and (min-width: 400px){
      width: 25%;
      height: 44px;
      border: none;
      box-sizing: inherit;
      position: static;
    }
    @media screen and (min-width: 800px) {
      width: 100%;
      text-align: left;
    }
    @media screen and (max-height: 299px) and (max-width: 399px) {
      a:before {
        margin-right: 0;
      }
      &:nth-child(1) {
        text-align: right;
        a:before {
          top: 70%;
          right: 20%;
        }
      }
      &:nth-child(2) {
        text-align: left;
        a:before {
          top: 70%;
          left: 20%;
        }
      }
      &:nth-child(3) {
        text-align: right;
        a:before {
          top: 30%;
          right: 20%;
        }
      }
      &:nth-child(4) {
        text-align: left;
        a:before {
          top: 30%;
          left: 20%;
        }
      }
    }
  }
  a {
    color: $white;
    text-decoration: none;
    width: 100%;
    line-height: 44px;
    display: inline-block;
    position: relative;
    font-size: 0;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
    box-sizing: border-box;
    height: 100%;
    @media screen and (min-height: 300px), screen and (min-width: 400px){
      height: 44px;
    }
    @media screen and (min-width: 600px) {
      font-size:16px;
    }
    @media screen and (min-width: 800px) {
      border-left: 4px solid $orange;
      padding: 0 14px;
    }
    &:hover,
    &.is-active {
      background: #d34722;
      border-color: $white;
    }
    &:before {
      content: "";
      height: 28px;
      width: 28px;
      margin-right: 8px;
      display: inline-block;
      background-image: url('css_assets/agenda.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      @media screen and (min-width: 800px) {
        margin-right: 14px;
      }
    }

  }
  li:nth-child(2) a:before {
    background-image: url('css_assets/people.svg');
  }
  li:nth-child(3) a:before {
    background-image: url('css_assets/logo.svg');
  }
  li:nth-child(4) a:before {
    background-image: url('css_assets/maps.svg');
  }
}

.vertical-menu__toggle-label {
  background: $orange;
  display: block;
  width: 40px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-decoration: none;
  @media screen and (min-height: 300px), screen and (min-width: 400px){
    display: none;
  }
  svg {
    width: 30px;
    height: 40px;
    fill: #FFF;
    float: right;
    top: 50%;
    position: relative;
    margin-top: -20px;
  }
}
.vertical-menu__toggle-checkbox {
  position: absolute;
  left: -999999px;
  &:checked + .block-offline-app-menu-block {
    display: block;
  }
}

.speaker--tiny-teaser {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  background: #FFF;
  &.js-open {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    background: #F7F7F7;
    .schedule-link {
      right: 6px;
    }
    .speaker__image {
      left: calc(50% - 25px);
      transition: left 0.6s ease;
      &:after {
        transform: scale(1.5);
        transition: transform 0.6s ease;
      }
    }
    .speaker__meta {
      margin-top: 80px;
      padding-left: 0;
      transition: margin 0.2s ease, padding 0.6s ease;
    }
  }
  .view-mode-offline_teaser {
    padding: 20px;
    .field--name-body {
      display: none;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    background: #F7F7F7;
  }
  .schedule-link {
    transition: right 0.6s ease;
    position: absolute;
    right: -50px;
    z-index: 3;
    top: 20px;
    padding: 10px;
    svg {
      width: 28px;
      height: 28px;
    }
    &:hover {
      background: #DDD;
    }
  }
  .speaker__image {
    float: left;
    position: absolute;
    left: 20px;
    transition: left 0.2s ease;
    top: 20px;
    img {
      z-index: 2;
      position: relative;
    }
    &:after {
      content: "";
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 2px solid $orange;
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      transform: scale(1);
      z-index: 1;
    }
  }
  .speaker__meta {
    display: inline-block;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    transition: padding 0.2s ease, margin 0.6s ease;
    margin: 80px 0 0;
    padding-left: 0;
    @media screen and (min-width: 300px) {
      margin-top: 0;
      padding-left: 80px;
    }
    .speaker__title {
      margin: 0;
    }
  }
}

.view-schedule {
  header {
    padding-bottom: 0;
    h2 {
      margin-bottom: 0;
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
}

.session--teaser {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  .session__link {
    background: white;
    color: $color;
    display: block;
    padding: 20px 10px 0 10px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    @media screen and (min-width: 320px) {
      padding-bottom: 57px;
    }
    &:hover {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
      background: #F7F7F7;
    }
  }
  .field--name-field-speaker {
    .field__item {
      float: left;
      width: 100%;
      position: relative;
      margin-bottom: 10px;
      z-index: 2;
      @media screen and (min-width: 320px) {
        margin-bottom: 0;
      }
      + .field__item {
        margin-top: 10px;
      }
    }
    img {
      float: left;
    }
    .field-name-node-title {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding-left: 60px;
      box-sizing: border-box;
    }
  }
  .session__title {
    font-family: 'Dupla-Bold';
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
  }
  .field--name-field-subject {
    display: none;
    width: 100%;
    float: left;
    position: relative;
    z-index: 2;
  }
  .sesion__types {
    width: 100%;
    margin-left: -10px;
  }
  .session__type {
    text-align: center;
    width: 100%;
    @media screen and (min-width: 320px) {
      width: auto;
      position: absolute;
      right: 10px;
      bottom: 20px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 1400px;
      width: 1400px;
      margin-top: -700px;
      margin-left: -700px;
      border-radius: 100%;
      opacity: 0.3;
      background: $javascript;
      transform: scale(0);
    }
    &.drupal:after {
      background: $drupal;
    }
    &.theming:after {
      background: $theming;
    }
    &.ux--design:after {
      background: $ux--design;
    }
  }
  &.js-open .session__type:after {
    animation: ripple 3s ease-in;
    -webkit-animation-fill-mode: forwards;
  }
  .field--name-field-room {
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    @media screen and (min-width: 320px) {
      position: absolute;
      margin-bottom: 0;
      bottom: 27px;
      left: 10px;
    }
  }
}
.sesion__types {
  zoom: 1;
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}
.session__type {
  padding: 7px 10px;
  &.javascript {
    background: $javascript;
  }
  &.drupal {
    background: $drupal;
    color: #FFF;
  }
  &.theming {
    background: $theming;
  }
  &.ux--design {
    background: $ux--design;
    color: #FFF;
  }
  span {
    position: relative;
    z-index: 2;
  }
}

.node--type-session.node--view-mode-full {
  text-align: left;
  .field__label {
    float: left;
    margin-right: 10px;
    width: 60px;
    font-family: 'Dupla-Bold';
  }
  .field__items {
    overflow: hidden;
  }
  .session__type {
    margin: 20px 0;
    text-align: center;
  }
  ul {
    margin-left: 20px;
  }
}

.timeslot {
  margin: 20px 0;
  text-align: left;
  zoom: 1;
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
}

.timeslot__time {
  padding: 5px 10px;
}

.timeslot__start-time {
  font-family: 'Dupla-Bold';
}

.timeslot__textblock {
  background: $blue;
  padding: 5px 10px;
}

.timeslot__sessions {
  zoom: 1;
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  > .field__items {
    @media screen and (min-width: 600px) {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex
    }
    > .field__item {
      margin-bottom: 10px;
      @media screen and (min-width: 600px) {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex !important;
        &:last-child {
          margin-right: 0;
        }
      }
      .session {
        width: 100%;
        @media screen and (min-width: 600px) {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex
        }
      }
      @media screen and (min-width: 600px) {
        margin-bottom: 0px;
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%;
      }
    }
  }
}
