/**
 * Print css file
 * This file is compiled into print.css.
 */

@charset "UTF-8";

@import 'bourbon';
@import 'neat';

/* ---------- Import base ---------- */
@import 'base/variables';
@import 'base/fonts';
@import 'base/normalize';
@import 'base/mixins/mixins';

/* ---------- Import design ---------- */
@import 'design/typography/typography';
@import 'design/layout';

.sidebar{
  display: none;
}

.container {
  width: $max-width;
}
