{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
{% set customid = attribute(attributes, 'data-history-node-id') %}
<div {{ attributes.addClass('ds-1col', 'clearfix') }}>
  <div id="speaker{{ customid }}"></div>

  {{ title_suffix.contextual_links }}

  {{ ds_content }}

</div>
