.button,
.btn {
  @include px_rem(font-size, 21px);
  border-radius: 2px;
  border: none;
  display: inline-block;
  font-family: 'DuplaDemibold-DemiBold';
  padding: 12px 22px;
  text-decoration: none;
}

.button--primary,
.btn--orange {
  color: $white;
  background: $orange;
  @include shrink;
  &:hover,
  &:focus {
    outline: none;
    color: $white;
  }
}

.link {
  text-decoration: none;
  font-family: 'Dupla-Bold';
  &:after {
    content: ' »';
  }
}

.link--orange {
  color: $orange;
  &:hover,
  &:focus {
    outline: none;
    color: $blue;
  }
}

