/*
 * Design
 * Add all your theming for general design elements in this file.
 */

@import 'btn';
@import 'content';
@import 'layout';
@import 'navigation/navigation';
@import 'typography/typography';
@import 'forms';
@import 'footer';
@import 'header';
@import 'highlight';
@import 'precontent';
@import 'subcontent';

.local_tasks_block {
  ul {
    li {
      display: inline;
    }
  }
}