.footer__wrapper {
  color: $white;
  background: $darkblue;
  padding: 40px 0;
  h2 {
    color: $white;
  }
}
.footer {
  ul.menu {
    li {
      list-style-image: none;
      list-style: none;
    }
  }
  p {
    padding-top: 0px;
  }
  a {
    text-decoration: none;
    color: $white;
    &:after {
      color: $orange;
      content: ' »';
    }
  }

  > nav,
  > div {
    @include span-columns(12 of 12);

    @include media($bp2, true) {
      @include span-columns(4 of 12);
    }
  }
  > nav {
    @include media($bp2, true) {
      @include omega;
    }
  }

  h2 {
    @include px_rem(font-size, 18px);
  }
}

.copyright {
  border-top: 1px solid #3f5456;
  float: left;
  margin-top: 40px;
  width: 100%;
}