/*
 * Typography - Forms
 * Add your form-related theming in this file.
 */

/*
 * Prevents font-family inconsistency between textarea and other form elements.
 */
button,
input,
select,
textarea {
  font-family: $base-font-family;
}

label {
  display: block;
  margin: 0 0 8px 0;
}

.form-item {
  margin: 0 0 18px 0;
}

.form-email,
textarea,
.form-text {
  background: $input;
  border: none;
  width: 100%;
  padding: 10px;
  &:focus {
    background: $darkerblue;
    outline: none;
  }
}