/*
 * Header
 * Add your header-related theming in this file.
 */

header {
  background: $lightblue;
  overflow: hidden;
}

.header {
  padding: 105px 0 0 0;
  background: url(../img/lights.svg) center top no-repeat;
  text-align: center;
  .container {
    max-width: 560px;
  }
  .btn {
    margin-top: 8px;
  }
}