.highlight {
  background: $blue;
  color: $white;
  padding: 40px 0 34px 0;
  @include media($bp1, true) {
    padding: 40px 0 20px 0;
  }
  @include media($bp2, true) {
    padding: 40px 0 40px 0;
  }
  h2 {
    color: $white;
    text-align: center;
    margin-bottom: 30px;
  }
  ul.menu {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 3px 6px 3px;
      @include media($bp1, true) {
        margin: 0 10px 20px 10px;
      }
      @include media($bp2, true) {
        margin: 0 25px 40px 25px;
      }
      a {
        font-family: 'Dupla-Bold';
        color: $white;

        text-decoration: none;
        display: inline-block;
        padding: 10px 0 10px 0;
        @include px_rem(font-size, 14px);
        width: 105px;
        border: 2px solid $darkerblue;
        @include media($bp1, true) {
          @include px_rem(font-size, 20px);
          border: 3px solid $darkerblue;
          width: 150px;
          padding: 15px 0 15px 0;
        }
        @include media($bp2, true) {
          @include px_rem(font-size, 24px);
          width: 184px;
        }
        &:hover,
        &:focus {
          background: $darkerblue;
          outline: none;
        }
        &:before {
          @extend %icons;
          display: block;
          margin: 0 0 5px 0;
          font-size: 30px;
          @include media($bp1, true) {
            margin: 0 0 10px 0;
            font-size: 52px;
          }
          @include media($bp2, true) {
            margin: 0 0 20px 0;
            font-size: 62px;
          }
        }
        &.get-your-ticket {
          &:before {
            @extend .icon-ticket:before;
          }
        }
        &.speakers {
          &:before {
            @extend .icon-people:before;
          }
        }
        &.schedule,
        &.programme {
          &:before {
            @extend .icon-agenda:before;
          }
        }
        &.venue {
          &:before {
            @extend .icon-maps:before;
          }
        }
      }
    }
  }
}

