/*
 * Layout
 * Add your layout-related theming, such as sidebars in this file.
 */

.container {
  @include outer-container;
}

.lt-ie9 .container {
  width: $max-width;
}

header,
footer,
.main,
.clearfix {
  @include cf;
}

.column {
  @include media($bp1, true) {
    @include span-columns(4 of 12);
  }
}
